<?xml version="1.0"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" AutoUpdate="true" Language="Default" MusicHQPC="true" MusicHQAndroid="false" MirrorIndex="0" ProfileIndex="0" CustomMirrorEnabled="false" CustomMirrorText="" ProfileDebugLog="true" CustomEnvVar="" Width="1920" Height="1059" IsMaximized="false" />