[Unit]
Description=Run SMART diagnostics and mail results to email

[Timer]
# start every monday and thursday at 1:00am 
OnCalendar=Mon,Thu *-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
