[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aidan/Desktop/League of Legends.desktop]
row=1
col=2

[/home/aidan/Desktop/gog_com-Stardew_Valley_1.desktop]
row=5
col=2

[/home/aidan/Desktop/KG-Chart Pro CS.desktop]
row=3
col=0

[/home/aidan/Desktop/FL Studio 12.lnk]
row=2
col=1

[/home/aidan/Desktop/FL Studio 12 (64bit).desktop]
row=9
col=0

[/home/aidan/Desktop/MtgaLauncher.desktop]
row=5
col=1

[/home/aidan/Desktop/Massive.lnk]
row=6
col=1

[/home/aidan/Desktop/MTGArenaLauncher.lnk]
row=8
col=1

[/home/aidan/Desktop/MTGArenaLauncher.desktop]
row=9
col=1

[/home/aidan/Desktop/Syntorial.lnk]
row=3
col=1

[/home/aidan/Desktop/MTGA.desktop]
row=0
col=2

[/home/aidan/Desktop/FLRegKey.reg]
row=4
col=0

[/home/aidan/Desktop/ASIO4ALL v2 Instruction Manual.desktop]
row=6
col=0

[/home/aidan/Desktop/FL Studio 12 (64bit).lnk]
row=1
col=1

[/home/aidan/Desktop/KG-Chart Pro CS.lnk]
row=2
col=2

[/home/aidan/Desktop/gog_com-Terraria_1.desktop]
row=3
col=2

[/home/aidan/Desktop/steam.desktop]
row=4
col=2

[/home/aidan/Desktop/FL Studio 12.desktop]
row=0
col=1

[/home/aidan/Desktop/Massive.desktop]
row=7
col=1

[/home/aidan/Desktop/Into the Breach.desktop]
row=8
col=0

[/home/aidan/Desktop/ASIO4ALL v2 Instruction Manual.lnk]
row=5
col=0

[/home/aidan/Desktop/Syntorial.desktop]
row=4
col=1

[/home/aidan/Desktop/Starbound.desktop]
row=7
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/aidan]
row=2
col=0

